<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<style type="text/css">
#short_url {
	border-width: 1px 5px;
	border-style: solid;
	border-color: black;
	padding: 0.5em 1em;
}
p#short_url:before {
	content: "短縮URLできたよ！！: ";
}
</style>
<title>短縮URL作るよ！！</title>
</head>
<body>
	<h1>短縮URL作るよ！！</h1>
	<form action="/" method="post">
		{% if csrf_token %}
		<input type="text" name="shorten_url" size="65" />
		<input type="submit" value="作るよ！！" />
		<input type="hidden" name="_x" value="{{ csrf_token }}" />
		{% else %}
		<input type="text" name="shorten_url" size="65" disabled="disabled" value="作ったあとだよ！！" />
		<input type="submit" disabled="disabled" value="作れないよ！！" />
		{% endif %}
	</form>
	{% if short_url %}
	<p id="short_url">{{ short_url }}</p>
	<p><a href="/" title="もう1つ作るよ！！">もう一つ作るよ！！</a></p>
	{% endif %}
</body>
</html>
